

img {
    width: 400px;
    height: 400px;
}

ul li {
    list-style: none;
    margin-right: 10px;
    text-transform: uppercase;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    
    height: 5vh;
    background: grey;
}

#welcome-section {
    background: mediumslateblue;
}

.work {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "web-dev "
    "data-science";
    grid-gap: 10px;
}

.web-dev {
    display: grid;
    grid-area: web-dev;
    background: grey;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "tech landing-page survey-form";
    grid-gap: 5px;
    background: grey;
}

.tech-guide {
    grid-area: tech;
}

.landing-page {
    grid-area: landing-page;
}

.survey-form {
    grid-area: survey-form;
}

.data-science {
    grid-area: data-science;
}





.web-dev {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "tech landing-page";
    grid-gap: 15px;
    background: grey;
} */